//imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600;700;800&display=swap');
// FOnts
$primary_font: 'Open Sans',
sans-serif;
$secondary_font:'Montserrat',
sans-serif;
// Color
$dark-blue:#05386B;
$blue-green:#379683;
$light-green:#5cdb95;
$mint-green:#8ee4af;
$dirty-white:#545454;